ul{
    background: black;
    padding: 0;
    margin: 0;
    overflow: hidden;
}

li{
    display: inline-block;
}

li a, .dropbtn{
    display: inline-block;
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    text-align: center;
}

li a:hover, .dropdown:hover .dropbtn{
    background-color: red;
}

li.dropdown{
    display: inline-block;
}

.dropdown-content{
    display: none;
    position: absolute;
    background-color: white;
    width: 150px;
}

.dropdown-content a{
    color: black;
    display: block;
    text-align: left;
    border: 1px solid rgb(211, 211, 211);
}

.dropdown-content a:hover{
    color: white;
}

.dropdown:hover .dropdown-content{
    display: block;
}